body {background-color:black;font-family:arial;color:white}


.maindiv {
    background-color: aliceblue;
    color: black;
    width: 300px;
    padding: 30px;
    border-radius: 25px;
    float: center;
}

.maindiv h1{
    color:black;
    font-family:verdana;
    margin-top: 0%;
}

.maindiv label{
    color:darkslategrey
}