body {background-color:black;font-family:arial;color:white}


.maindiv {
    background-color: #f4f4f4;
    color: #555;
    width: 50%;
    padding: 20px 20px ;
    border-radius: 20px;
    margin:auto;
    margin-top: 50px;
}

.maindiv h1{
    color:black;
    font-family:verdana;
    margin-top: 0%;
}

#input_block{
    padding-bottom: 10px;
    padding-left: 5%;
}

.maindiv label{
    display: block;
    color:darkslategrey;
    padding: 2px;
}

#button_block{
    padding-left: 5%;
    padding-top: 10px;
}

.maindiv button{
background-color: #555;
color: aliceblue;
font-family: 'Arial';
font-size: 16px;
padding:10px;
border:none;
}

.maindiv button:hover{
    background-color: #444;
    color: aquamarine;
}

#result_block{
    margin-top: 10px;
    padding-left: 5%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #444;
    color: #f4f4f4;
    font-size: 14px;
}

#main_footer{
    background-color: #f4f4f4;
    color:deeppink;
    text-align: center;
    padding:10px;

}